* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 30px;
    background-color: rgb(65, 141, 158);
}

.container {
    max-width: 80%;
}

img {
    width: 200px;
}